@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 30px;
    font-weight: 700;
    color: #575757;
}

h2 {
    font-size: 54px;
    font-weight: 444px;
    color: #707070;

}

p {
    font-size: 18px;
    color: #828282;
    ;
    font-weight: 500;
}

.felx-container {
    display: flex;
}

.ornage-color {
    color: orange;
}

section {
    padding-top: 70px;
}

.jut-eat-sec {
    padding-bottom: 150px;
}

.sec-part-1 {
    padding-top: 200px;
}

.sec-part-1 img {
    width: 654.98px;
    height: 740.91 px;
}

.heaf-width {
    width: 50%;
    padding-left: 8%;
    padding-right: 5%;
}


.button-link {
    text-decoration: none;
    background-image: linear-gradient(to right, #FB944A, #FE4C2F);
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 121px;
    color: white;
}

.sec-1 {
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.sec-1-part1 img {
    margin-top: 65px;
    width: 338px;
    height: 536px;
}

.sec-1-part1 {
    margin-left: 300px;
    margin-right: 200px;
}

.about-me-sec {
    /* margin-right:400px; */
    padding-right: 400px;
    text-align: justify;
}