@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 70px;
    line-height: 30px;
    font-weight: 700px;
    color: #575757;
}

h2 {
    font-size: 54px;
    font-weight: 444px;
    color: #707070;

}

p {
    font-size: 18px;
    color: #828282;
    ;
    font-weight: 500px;
}

.felx-container {
    display: flex;
}

.ornage-color {
    color: orange;
}

section {
    padding-top: 70px;
}

.jut-eat-sec {
    padding-bottom: 150px;
}

.sec-part-1 {
    padding-top: 200px;
}

.sec-part-1 img {
    width: 654.98px;
    height: 740.91 px;
}

.heaf-width {
    width: 50%;
    padding-left: 8%;
    padding-right: 5%;
}


.button-link {
    text-decoration: none;
    background-image: linear-gradient(to right, #FB944A, #FE4C2F);
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 121px;
    color: white;
}

.sec-1 {
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.sec-1-part1 img {
    margin-top: 65px;
    width: 338px;
    height: 536px;
}

.sec-1-part1 {
    margin-left: 300px;
    margin-right: 200px;
}

.about-me-sec {

    padding-right: 400px;
    text-align: justify;
}

.my-recipie {
    text-align: center;
    padding-bottom: 50px;

}

.sec-2 {
    padding-bottom: 100px;
    ;
}


.sec-2 img {
    width: 337px;
    height: 256px;

}

.my-recipie h3 {
    font-size: 45px;
    color: #676767;
}

.our-recipe {
    margin-left: 12%;
    margin-right: 12%;
}

.recipe-iteam {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px;
    box-shadow: rgba(192, 190, 190, 0.25) 0px 54px 55px, rgba(192, 190, 190, 0.25) 0px -12px 30px, rgba(192, 190, 190, 0.25) 0px 4px 6px, rgba(192, 190, 190, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    background-color: white;
}

.recipe-iteam img {
    border-radius: 20px;
}

.recipe-iteam p {
    text-align: justify;
}


.our-team {
    padding-left: 280px;
    padding-bottom: 50px;
    background-color: #FEF3EC;
    margin-bottom: 50px;
}

.our-team h2 {
    color: black;
    font-size: 48px;
    font-weight: 400px;
}

.our-team img {
    border-radius: 50%;
    margin-left: 200px;
    height: 292px;
    width: 292px;
}

.sec-3 {
    padding-bottom: 120px;
}

.count-sec {
    width: 40%;
    padding-left: 12%;

}

.follower {

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px 0 50px 0;
    margin-bottom: 120px;
    border-radius: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.sec-4 {
    background-color: #F1EEEA;
    margin-bottom: -120px;
    padding-bottom: 30px;

}

.conttac-us-main {
    margin-left: 10%;
}

.conttac-us {

    padding-left: 10%;
}

footer {
    text-align: center;
    background-color: #2A2525;
    padding: 30px 20px;
    color: #EAEAEA;
    font-size: 30px;

}
